@import url('https://fonts.googleapis.com/css?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@531&display=swap');

html, body {
    background: linear-gradient(0deg, rgb(152, 167, 255) 0%, rgba(179,4,237,1) 100%);
    padding: 0;
    margin: 0;
}


/*Base de Fundo*/

.baseprincipal{

    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-areas: 
    "topo"
    "corpo";
    grid-template-rows: 70px 90%;
    background-color: transparent;
    overflow-y: hidden;
    
}

.corpo{
    grid-area: corpo;
    display: flex;
    scrollbar-base-color: aqua;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    overflow: scroll;
}

.topo{
    grid-area: topo;
    display: flexbox;
    align-items: center;
    background-color: #10006d;
    display: flex;
    align-items: center;

}

/*Base Quadro Estabelecimento */

.boxEst{

    width: 1280px;
    height: 330px;
    border-radius: 10px;
    background-color: #6a52f3;
    margin: 10px;
    overflow: hidden;

}

.boxFormat{
    height: 100%;
    display: grid;
    grid-template-columns: 400px 5px 300px 15px 560px;
    grid-template-areas: 
    'boxFormat1 vago1 boxFormat2 vago2 boxFormat3';
    
    background-color: transparent;
    
}

.boxFormat1{

	width: 96%;
    height: 94%;
    grid-area: boxFormat1;
    background-color: transparent;
    display: flex;
    position:relative;
    align-items: center;
    justify-content: center;
    margin: auto;


}

.boxFormat2{

    width: 230px;
    height: 96%;
    grid-area: boxFormat2;
    background-color:transparent;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: auto;


}

.boxFormat3{

    width: 98%;
    height: 96%;
    grid-area: boxFormat3;
    background-color: transparent;
    display: grid;
    grid-template-rows: 18% 82%;
}

.formatImgEst{

    width: 100%;
    height: auto;
    z-index: 1;
    position: relative;
    border-radius: 10px;

}

.formatImgEstPeq1{

    position: relative;
    top:2%;
    left: -10%;

    width: 96%;
    height: auto;
    z-index: 1;
    position: relative;
    transform: rotate(-10deg);
    border-radius: 10px;

}

.formatImgEstPeq2{

    position: relative;
    top:-5%;
    left: 10%;

    width: 96%;
    height: auto;
    z-index: 1;
    position: relative;
    transform: rotate(10deg);
    border-radius: 10px;

}


.formatEstInfo{

    position: relative;
    left: 2%;
    width: 90%;
    height: 80%;
    border: #ffffff 3px solid;
    padding: 18px;
    padding-top: 30px;
    border-radius: 10px;
    
}

.fmtdivladoalado{
    display: flex;
    flex-wrap: wrap;
}

.formatNomeEst{

    position: relative;
    top: 50%;
    left: 5%;

}


.formatImgLogo{

    height: 70px;
    width: auto;
    z-index: 4;
    position: relative;
    left: 30px;
    top: 5px;
    border-radius: 10px;
}


.formatNomeEst{

    display: flex;
    align-items: center;
    margin-left: 5px;

}



/* Fontes */

.LogoNPass{

    font-family: 'MuseoModerno', cursive;
    font-size: 2em;
    color: white;
    margin-left: 10px;
}

.HeadMenuRight{

    font-family: 'Fira Sans', sans-serif;
    font-size: 20px;
    color: white;
    margin-left: 20px;
    position: absolute;
    right: 20px;
    cursor: pointer;
    
}

.Textosimples24{

    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    color: white;
    margin-left: 24px;
    align-items: baseline;

    right: 10px;
    
}


.Textosimples18{

    font-family: 'Fira Sans', sans-serif;
    font-size: 16px;
    color: white;
    align-items: baseline;
    font-style: italic;
    
}

.Textosimplesneg18{

    font-family: 'Fira Sans', sans-serif;
    font-size: 16px;
    color: rgb(255, 255, 255);
    align-items: baseline;
    font-weight: 700;
    font-style: normal;
    
}

.tright{
    text-align:right;
}

